a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1062px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.87)
    ),
    url(../images/avatarheaderphoto.png) center/cover no-repeat;
  display: flex;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 204px;
  padding-right: 48px;
  border-bottom: 3px solid #ffffff;
}

.header-position {
  display: flex;
  align-items: center;
}
.language-switcher {
  padding-left: 15px;
  margin-right: auto;
}
.nav-list {
  display: flex;
  column-gap: 38px;
}
.nav-list {
  margin-left: 168px;
  margin-right: 212px;
}
.nav-link {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}
.nav-link:hover {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: #94cfff;
}
.buttonstyle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #26c6ea;
  background-color: #0b0e66;
  border: 2px solid #26c7ea;
  border-radius: 35px 0;
  width: 141px;
  height: 41px;
}
.language-switcher {
  display: flex;
  column-gap: 10px;
}
.language-switcher-text {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
/* body {
  margin: 0;
  font-family: sans-serif;

  color: white;
} */

.enter {
  position: relative;
  background-image: url(../images/avatarphoto1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  padding-top: 180px;
}
.enter-position {
  display: flex;
}
.enter-text-ua,
.enter-text-navi {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
.enter-text-navi {
  margin-right: 734px;
  margin-bottom: 41px;
}
.enter-text-ua {
  margin-bottom: 40px;
  margin-right: 606px;
}
.icons-list {
  margin-top: 119px;
}
.instagram-icon {
  margin-bottom: 24px;
}
.twitter-icon {
  margin-bottom: 27px;
}

.social-media li img:hover {
  transform: scale(1.1);
}
.arrow img {
  width: 152px;
  height: 40px;
}
.buttonstyle-join {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #26c6ea;
  background-color: #0b0e66;
  border: 3px solid #26c7ea;
  border-radius: 45px 0;
  width: 260px;
  height: 80px;
  margin-bottom: 180px;
}
.trailer {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url(../images/avatarphoto2.png);
  height: 741px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 330px;
}
.buttonstyle-watch {
  font-family: var(--second-family);
  font-weight: 255;
  font-size: 30px;
  text-align: center;
  color: #26c6ea;
  background-color: #0b0e66;
  border: 3px solid #26c7ea;
  border-radius: 45px 0;
  display: block;
  width: 260px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 19px;
}
.button:hover {
  background-color: #0084ff;
  color: white;
}

.quote {
  background-color: #fff; /* или другой фон */
  padding: 60px 20px;
  text-align: center;
}

.quote .container {
  max-width: 800px;
  margin: 0 auto;
}

.quote-text {
  font-size: 24px;
  font-weight: 500;
  color: #003b5b;
  line-height: 1.6;
  margin-bottom: 15px;
}

.arroww {
  width: 152px;
  height: 40px;
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 200px;
  top: 280px;
}
.author {
  font-size: 18px;
  color: #003b5b;
  margin-bottom: 25px;
}

.quote-icon {
  width: 400px;
  height: 120px;
  display: block;
  margin: 0 auto;
}

.translate {
  width: 1440px;
  margin: 0 auto;
  background: url(../images/avatarphoto3.png) center/cover no-repeat;
}
.translate-tile {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #141414;
  padding-top: 58px;
  padding-bottom: 45px;
}
.translate-item {
  flex-basis: calc((100% - 72px) / 3);
}
.translate-card {
  background-color: rgba(255, 255, 255, 0.7);
}
.translate-word {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #141414;
  padding-top: 36px;
}

.group1:after {
  content: "";
  display: block;
  margin: 40px 84px;
  height: 40px;
  width: 152px;
  background-image: url(../images/arrow2.png);
}
.group2:after {
  content: "";
  display: block;
  margin: 40px 84px;
  height: 40px;
  width: 152px;
  background-image: url(../images/smallbird.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.group3:after {
  content: "";
  display: block;
  margin: 40px 84px;
  height: 40px;
  width: 152px;
  background-image: url(../images/arrow3.png);
}
.translate-result {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #000;
  padding-bottom: 36px;
  margin-bottom: 93px;
}
.translate-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 36px;
  row-gap: 24px;
}
footer {
  background: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.87)
    ),
    url(../images/footerphoto.png) center/cover no-repeat;
  padding-top: 35px;
  padding-bottom: 25px;
  width: 1440px;
  margin: 0 auto;
}
.footer-position {
  display: flex;
}
.logo-footer {
  border-right: 2px solid white;
  padding-right: 80px;
  padding-top: 42px;
  padding-bottom: 42px;
}
.contact-text:nth-child(1) {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 18px;
  margin-left: 80px;
  margin-right: 309px;
}
.contact-item:nth-child(2) > .contact-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 18px;
  margin-left: 80px;
  margin-right: 239px;
}
.contact-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.contact-item {
  display: flex;
}
.contact-item:nth-child(1) {
  width: 745px;
  height: 24px;
  margin-top: 45px;
  background-image: url(../images/Vectorboom.png);
  background-repeat: no-repeat;
  background-size: 269px;
  background-position: 205px;
}
.contact-item:nth-child(2) {
  width: 769px;
  height: 24px;
  background-image: url(../images/Vectorsmile.png);
  background-repeat: no-repeat;
  background-size: 194px;
  background-position: 280px;
}
.info {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin-left: 474px;
}
